* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

 }
 body {
   font-family: 'Libre Barcode 128 Text', sans-serif;
   color: white;
   background-color: #5158BB;
 }

 p {
   color: white;
   background-color: rgba(0, 0, 0, 0.575);
   text-align: center;
   font-size: 3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}



ul{
   list-style-type: none;
   }
a {
   font-size: 2rem;

}


li{
   padding: 20px ;
   display: inline-block;
   
}

header{
   height: 500px;
   background: url(/assets/imagenes/el\ logo.jpg);
   background-position: center;
   background-size: cover;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(5, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
   

   }

header p {
   display: flex;
   flex-flow: column wrap;
   color: white;
   height: auto;
   background-color: rgba(0, 0, 0, 0.507);
   width: auto;
   font-family: "libre barcode 128 text";
   font-size: 4rem;
}


.navegador{
   background-color: #5158bb8f;
   width: 100%;
   font-size: 2rem;
   display: flex;
   flex-wrap: wrap;
   position: bottom;
   justify-content: space-around;
   grid-area: 5 / 1 / 6 / 4;
   
}
.navegador a{
   text-decoration: none;
   color: white;
   font-family: "libre barcode 128 text";
   
}
.navegador a:hover{
   color: black;
   text-decoration: none;

}

main {
   background-color: #5158BB;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem;
}

.canciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}



.titulo-seccion{
   text-align: center;
   background-color: #0d0d0e86;
   padding: 1rem;

}
.cancion {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #05050571;
   padding: 1rem;
}
.titulo-cancion{
   text-align: center;
    background-color: #0d0d0e57;
    padding: 1rem;
}


.proximos-eventos{
   display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

   

.titulo-proximos{
   text-align: center;
   background-color: #0d0d0e94;
   padding: 1rem;
}
.fiesta-1{
   margin: 0 auto;
    background-color: #5158BB;
}

.fiesta-2{
   margin: 0 auto;
   background-color: #5158BB;
}
.fiesta-3{
   margin: 0 auto;
   background-color: #5158BB;
}
.fiesta-4{
   margin: 0 auto;
   background-color: #5158BB;
}

.media{
   display: grid;
    grid-template-columns: 1fr;

}
.titulo-sesiones{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #0d0d0e94;
   color: #fff;
   font-size: 24px;
   padding: 10px;
   text-align: center;
}
/*.videos-youtube{
   background-color: #5158BB;

    display: flex;

}
.video-local{
background-color: #5158BB;
 
    display: flex;
  
}
.sesion-soundcloud{
background-color: #5158BB;

    display: flex;
}

.sesion-soundcloud2{
background-color: #5158BB;

    display: flex;

}*/


footer{

   height: 500px;
   background: url(/assets/imagenes/el\ logo.jpg);
   background-position: center;
   background-size: cover;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(5, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
    }
    footer section{
     
   justify-content: space-around;
    }
    .parrafo-footer{
      
      background-color: #0d0d0e88;
      justify-content: center;
      grid-area: 1 / 1 / 2 / 2;
   
    }
    .redes-sociales{
      margin: 0 auto;
      grid-area: 5 / 1 / 6 / 4;
    }
    
    @media (max-width: 768px) {

  
      .canciones {
          grid-template-columns: 1fr;
      }
  
      .navegador {
          flex-direction: column;
          align-items: left;
          background-color: #5158bb59;
      }
  
      
      .proximos-eventos{
         grid-template-columns: 1fr;
      }
      .media{
         grid-template-columns: 1fr;
  } }
  
  @media (max-width: 480px) {
      p {
          font-size: 2rem;
      }
  
      header p {
          font-size: 3rem;
      }
  
      a {
          font-size: 1.5rem;
      }
  
      .navegador {
          font-size: 1.5rem;
      }
  }