* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Barcode 128 Text", sans-serif;
  color: white;
  background-color: white;
}

p, .titulo-sesiones, .titulo-proximos, .titulo-seccion, .titulo-pagina {
  color: white;
  background-color: rgba(0, 0, 0, 0.582);
  font-family: "Libre Barcode 128 Text", sans-serif;
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  font-size: 2rem;
}

li {
  padding: 20px;
  display: inline-block;
}

header {
  height: 500px;
  background: url(../assets/imagenes/el\ logo.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.navegador {
  background-color: rgba(81, 88, 187, 0.5607843137);
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  position: bottom;
  justify-content: space-around;
  grid-area: 5/1/6/4;
}

nav.navegador {
  height: 100px;
}

.navegador a {
  text-decoration: none;
  color: white;
  font-family: "Libre Barcode 128 Text", sans-serif;
}

.navegador a:hover {
  color: black;
  text-decoration: none;
}

main {
  background-color: rgba(81, 88, 187, 0.5607843137);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.canciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.cancion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.582);
  padding: 1rem;
}

.titulo-cancion {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.582);
  padding: 1rem;
}

.proximos-eventos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.fiesta-1, .fiesta-4, .fiesta-3, .fiesta-2 {
  margin: 0 auto;
  background-color: rgba(81, 88, 187, 0.5607843137);
}

.fiesta-1 img, .fiesta-4 img, .fiesta-3 img, .fiesta-2 img {
  width: 300px;
  height: 500px;
}

.media {
  display: grid;
  grid-template-columns: 1fr;
}

footer {
  height: 500px;
  background: url(../assets/imagenes/el\ logo.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

footer section {
  justify-content: space-around;
}

.parrafo-footer {
  background-color: rgba(0, 0, 0, 0.582);
  justify-content: center;
  grid-area: 1/1/2/2;
}

.redes-sociales {
  width: 100%;
  margin: 0 auto;
  grid-area: 5/1/6/4;
  background-color: rgba(81, 88, 187, 0.5607843137);
}

.instagram, .soundcloud img, .youtube img, .spotify img, .instagram img {
  width: 150px;
  height: 150px;
}

@media (max-width: 768px) {
  .canciones {
    grid-template-columns: 1fr;
  }
  .proximos-eventos {
    grid-template-columns: 1fr;
  }
  .media {
    grid-template-columns: 1fr;
  }
  .instagram, .instagram img, .spotify img, .youtube img, .soundcloud img {
    width: 85px;
    height: 85px;
  }
}
@media (max-width: 480px) {
  p, .titulo-pagina, .titulo-seccion, .titulo-proximos, .titulo-sesiones {
    font-size: 2rem;
  }
  header {
    height: 500px;
  }
  h1 {
    font-size: 5rem;
  }
  a {
    font-size: 1.5rem;
  }
  .navegador {
    font-size: 2rem;
    flex-direction: column;
    align-items: left;
    background-color: rgba(81, 88, 187, 0.5607843137);
  }
  nav.navegador {
    height: 350px;
  }
  footer {
    height: 300px;
  }
  .instagram, .instagram img, .spotify img, .youtube img, .soundcloud img {
    width: 60px;
    height: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
