 *{
   margin: 0;
   padding: 0;

 }

 p {
   color: white;
   height: auto;
   background-color: black;
   width: auto;
   font-family: "libre barcode 128 text";
   text-align: center;
   font-size: 3rem;
   flex-direction: column;
}



ul{
   list-style-type: none;
   }
a {
   font-size: 2rem;

}


li{
   padding: 20px ;
   display: inline-block;
   
}

header{
   background: none;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;

   }
.logotop{
   display: flex;   
   flex-wrap: wrap;  
   justify-content: space-around;
}  
header p {
   display: flex;
   flex-flow: column wrap;
   color: white;
   height: auto;
   background-color: black;
   width: auto;
   font-family: "libre barcode 128 text";
   font-size: 4rem;
}
.navegador-container{
   display: flex;
   justify-content: space-around;

}

.navegador{
   background-color: #5158BB;
   width: 100%;
   font-size: 2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
}
.navegador a{
   text-decoration: none;
   color: white;
   font-family: "libre barcode 128 text";
   
}
.navegador a:hover{
   color: black;
   text-decoration: none;

}

main{
   display: flex;
   flex-wrap: wrap;
   display: grid;
   background-color: #5158BB;
   justify-content: center;
}
.canciones{

   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-column-gap: 100px;
   grid-row-gap: 100px;
   border: 3px solid black;

}


.titulo-seccion{
   display: flex;
   flex-wrap: wrap;
   background-color: #0d0d0e;
   justify-content: center;
   

}

.cancion1{
   display: flex;
   justify-content: center;
   grid-area: 1 / 1 / 3 / 3;

}
.cancion2{
   display: flex;
   justify-content: center;
   grid-area: 1 / 3 / 3 / 5;
}
.cancion3{
   display: flex;
   justify-content: center;
   grid-area: 3 / 1 / 5 / 3;
}
.cancion4{
   display: flex;
   justify-content: center;
   grid-area: 3 / 3 / 5 / 5;

}
.proximos-eventos{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-column-gap: 100px;
   grid-row-gap: 100px; 

   border: 3px solid black;
   
}

   

.titulo-proximos{

   justify-content: center;
   background-color: #0d0d0e;
   

 
}
.fiesta-1{
   grid-area: 1 / 1 / 3 / 3;;

   background-color: #5158BB;

}
.fiesta-2{
   grid-area: 1 / 3 / 3 / 5;
   background-color: #5158BB;


}
.fiesta-3{
   grid-area: 3 / 1 / 5 / 3;
   background-color: #5158BB;

}
.fiesta-4{
   grid-area: 3 / 3 / 5 / 5;
   background-color: #5158BB;

}


footer{
   display: grid;
   grid-template-rows: repeat(3, auto);
   grid-template-columns: 1,auto;
   background-color:white;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: column;
    }
    footer section{
   display: flex;   
   flex-wrap: wrap;  
   justify-content: space-around;
    }
    footer p{

      justify-content: center;
      background-color: #0d0d0e;
   
   
    }
    footer nav{
   display: flex;
   flex-wrap: wrap;  
   justify-content: space-around;
    }
/*tablet*/
   @media (max-widht: 768px){
      .canciones{

         
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(5, 1fr);
         grid-column-gap: 50px;
         grid-row-gap: 50px;
         border: 3px solid black;
      
      }

      
         
      .titulo-seccion { grid-area: 1 / 1 / 2 / 3; }
      .cancion1 { grid-area: 2 / 1 / 4 / 2; }
      .cancion2{ grid-area: 2 / 2 / 4 / 3; }
      .cancion3 { grid-area: 4 / 1 / 6 / 2; }
      .cancion4 { grid-area: 4 / 2 / 6 / 3; }
     
      .proximos-eventos{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
         grid-column-gap: 50px;
         grid-row-gap: 50px; 
      
         border: 3px solid black;}
         

      
    


      

   }
  
/*mobile*/
   @media (max-width: 320px){

   }