//colores

$black:rgba(0, 0, 0, 0.582);

$white:white;

$purple:#5158bb8f;
$purple2: #5158bb3f;

//tipografia
$barcode: 'Libre Barcode 128 Text', sans-serif;


//tamaños
$tamano-cartel: 'width: 300px', 'height: 500px';


   